* {
  margin: 0 auto;
  padding: 0;
  box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

html,body {
    height: 100%;
}

* {cursor: url('cursor1.png'), default;
}

/********************** HEADER **********************/

header {
    position: fixed;
    width: 100%;
    top: 0;
    background-color:white;
    height: 70px;
    z-index: 10;
}

.header1 {
    float: left;
    padding: 15px 15px 15px 15px;
    height: 55px;
    color: darkgray;
}


.header2 {
    float: right;
    padding: 15px 15px 15px 15px;    
    height: 55px;
}

.header2 a:hover{
    text-decoration: underline;
}


h1 {
    font-family: "Monument Grotesk Reg", sans-serif;
    font-weight: 400;
    font-size: 35px;
    line-height: 1.2;
    color: #111;
    text-transform: uppercase;
}


h1 a {
    color: black;
    text-decoration: none;
}

::selection {
  background: transparent;
}


/********************** IMAGES **********************/
.box1 {
    float: left;
    width: 65%;
}

.imagesgroup {
    float: left;
    width: 100%;
    margin-top: 100px;
    padding: 15px;
}

.img1, .img2, .img3, .img4, .img5 {
    padding-bottom: 15px;
}


/********************** TEXT **********************/

.textbox {
    float: left;
    font-family: "Monument Grotesk Bold", sans-serif;
    font-size: 15.5px;    
    height: 150px;
    padding: 20px 20px 20px 15px;
    z-index: 10;
}

.year {
    float: left;
    width: 105px;
}

.title {
    float: left;
    width: 550px;
    line-height: 1.4;
}
.regtext {
    font-family: "Monument Grotesk Reg", sans-serif;
}

/********************** FOOTER **********************/

footer {
    position: fixed;
    right: 0;
    bottom: 0;
    left: 0;       
    height: 70px; 
    padding: 15px 15px 20px 20px;
    z-index: 1;
}

.backbutton {
    float: right;
    font-family: "Monument Grotesk Reg", sans-serif;
    font-size: 35px;
    text-transform: uppercase;
}

.backbutton a {
    color: black;
    text-decoration: none;
}

.backbutton a:hover {
    text-decoration: underline;
}




/********FONT FACE********/

@font-face {
  font-family: Monument Grotesk Reg;
  src: url(Fonts/monument/MonumentGroteskTrial-Regular.woff);
}

@font-face {
  font-family: Monument Grotesk Bold;
  src: url(Fonts/monument/MonumentGroteskTrial-Bold.woff);
}
