* {
  margin: 0 auto;
  padding: 0;
  box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

html,body {
    height: 100%;
}

* {cursor: url('cursor1.png'), default;}
/********************** HEADER **********************/

header {
    position: fixed;
    width: 100%;
    top: 0;
    height: 65px;
    z-index: 10;
}

.header1 {
    float: left;
    padding: 15px 15px 15px 15px;  
    height: 65px;

}


.header2 {
    float: right;
    padding: 15px 15px 15px 15px;  
    height: 65px;
}

.header2 a:hover{
    text-decoration: underline;
}


h1 {
    font-family: "Monument Grotesk Reg", sans-serif;
    font-weight: 400;
    font-size: 50px;
    line-height: 1.2;
    color: #111;
}


h1 a {
    color: black;
    text-decoration: none;
}

::selection {
  color: white; 
  background: #000fff;
}


/********************** CONTAINER 2 **********************/

.info {
    float: left;
    width: 100%;
    position: fixed;
    top: 60px;
    padding: 10px 15px 15px 15px;  
    background-color: white;

}

li {
    font-family: "Monument Grotesk Reg", sans-serif;
    font-weight: 400;
    font-size: 50px;
    line-height: 1.2;
}

li a {
    color: #111;
    text-decoration: none;
}

li a:hover {
    color: blue;    
}


/********************** FOOTER **********************/

footer {
    background: white;
    position: fixed;
    width: 100%;
    height: 90px;
    right: 0;
    bottom: 0;
    left: 0;    
    padding: 15px 15px 25px 15px;
        font-family: "Monument Grotesk Reg", sans-serif;
        font-size: 15px;
        line-height: 1.2;
        color: #111;
}

p a{
    color: black;
    text-decoration: none;
}

p a:hover{
    color: blue;
    cursor: url('cursor2.png'), pointer;
    
}

.column1 {
    width: 70px;
    float: left;
    font-family: "Monument Grotesk Bold", sans-serif;
    font-weight: bold;
    animation: mymove .5s linear;
    position: relative;
}


.foot {
    padding-top: 0px;
    padding-left: 20px;
    width: 400px;
    float: left;
    position: relative;
    animation: mymove .5s linear;
}

.column2 {
    width: 70px;
    float: left;
    padding-left: 20px;
    margin-left: 20px;
    font-family: "Monument Grotesk Bold", sans-serif;
    font-weight: bold;
    animation: mymove .5s linear;
    position: relative;
}


.foot2 {
    float: left;
    height: 20px;
    color:darkgrey; 
    position: relative;
    animation: mymove .5s linear;
}

@-webkit-keyframes mymove {
  from {top: 200px;}
  to {top: 0px;}


/********FONT FACE********/

@font-face {
  font-family: Monument Grotesk Reg;
  src: url(Fonts/monument/MonumentGroteskTrial-Regular.woff);
}

@font-face {
  font-family: Monument Grotesk Bold;
  src: url(Fonts/monument/MonumentGroteskTrial-Bold.woff);
}